html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins;
}
/* light blue - #04a9fb

thick blue - #075a94
*/
*{
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: poppins

}

.text{
  color:#000;
  font-family: poppins;
}
.light-text{
  color:#767676;
  font-family: poppins;
  font-size: small;
}

.green-text{
  color: #04a9fb;
  font-family: poppins;
  font-size: small;
}
/* .small-text{

} */

.drawerIcon{
  color:#fff
}

.selectedNav{
  background-color: #E1F1DC;
  color: #04a9fb;
  border-radius:8px;
  margin: 2px 8px;
  font-size: 14;
  font-family: poppins !important;
}

.iconsText{
  font-size: 12 !important;
  font-family: poppins !important;
}

.light-green-bg{
  background-color: #E1F1DC;
}

.dark-green-bg{
  background-color:  #04a9fb;
}


.light-grey-bg{
  background-color: #F5F5F4;
  /* border: 1px solid red; */
}

.rounded-corners-small{
  border-radius: 5px;
}

.rounded-corners{
  border-radius: 20px;
}

.button-lower{
  text-transform: none;
}

.white-bg{
  background-color: white;
}

.short-btn{
  height:16px
}

.right{
  position: absolute;
  right: 0;
}

.white-text{
  color:#fff;
  font-family: poppins;
}

.nav-link{
  cursor: pointer;
  margin:2px
}


::-webkit-scrollbar {
  width: 7px;
  /* height: 50px; */
  /* height: 50vh */
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  
}

  .chat-bg::-webkit-scrollbar {
    width: 7px;
    /* height: 50px; */
    /* height: 50vh */
  }

  ::-webkit-scrollbar-thumb {
    background:  #075a94; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background:  #075a94; 
    border-radius: 10px;
  }


  /*scrollbar for chat*/

  /* Track */
  .chat-bg::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  .chat-bg::-webkit-scrollbar-thumb {
    background:  #075a94; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .chat-bg::-webkit-scrollbar-thumb:hover {
    background:  #075a94; 
  }
  #map { height: '100px'; width:'100%'; z-index:9000 }
   /*scrollbar for chat ends here*/
/* } */